*{
  margin: 0;
  padding: 0;
}
.total{
width: 714px;
height: 601px;
border: 4px solid black;
}
.mother{
  width: 714px;
  height: 50px;
  border: 1px solid black;
}
.week{
  width: 714px;
  height: 30px;
}
.day{
  width: 100px;
  height: 30px;
  float: left;
  text-align: center;
  border: 1px solid black;
}
.days{
  width: 100px;
  height: 80px;
  float: left;
  border: 1px solid black;
}
.button{
  text-align: center;
  width: 714px;
  height: 25px;
  float: left;
  border: 1px solid black;
}
#h1{
  font-size: 40px;
  text-align: center;
}
#red{
  color: red;
}
#blue{
  color: blue;
}
#white{
  color:silver;
}