#app
{
    width: 582px;
    height: 582px;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    /*레이아웃 있는 이유 규칙을 만들기 위해서*/
}
.bg_block
{
    background-color: burlywood;
    text-align: center;
}