#app{
    position: absolute;
    width:590px;
    height:590px;     
}
#start
{
    position: relative;
    width:590px;
    height:650px;    
    background-color: azure;
    display: black;
    text-align: center;
}
#endd
{
    position: relative;
    width:590px;
    height:650px;    
    background-color: azure; 
    display: none;
    text-align: center;
}
#clear
{
    position: relative;
    width:590px;
    height:650px;    
    background-color: azure; 
    display: none;
    text-align: center;
}
.game {
    background: transparent;
    border: 1px solid #d6ced6;
    display:inline-block;
    border: 3px solid;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    overflow:hidden;
    height: 22%;
    width: 22%;
}
body
{
    background-color: skyblue;
}
button
{
    font-size: 50px;;
}
p
{
    size: 10px;
}